server:
  port: 8000

spring:
  application:
    name: Spicy DevOps
  datasource:
    url: jdbc:mariadb://localhost:3307/spicy
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: spicy1234
  jpa:
    properties:
      hibernate:
        highlight_sql: true
        format_sql: true
        use_sql_comments: true
    hibernate:
      ddl-auto: update
    show-sql: true

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

logging:
  level:
    org.hibernate.orm.jdbc.bind: trace